$color-light-peach: #feefef;
$color-dark: #2d2c39;
$color-blue-sky: #c3fdff;
$color-blue-sky-darker: #a8fbfe;
$color-pink-magenta: #ff54c6;

$font-text: 'Barlow', sans-serif;

$radius: 25px;
$base-size: 12px;
$transition: all 0.5s;
