@import '../../../styles/settings.scss';
@import '../../../styles/mixins';

.button {
	background-color: $color-blue-sky;
	border: 1px solid $color-dark;
	padding: 15px 30px;
	margin: 10px 10px;
	border-radius: $radius;
	color: $color-pink-magenta;
	font-weight: bold;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	cursor: pointer;
	&:hover {
		background-color: $color-blue-sky-darker;
		transition: $transition;
	}

	@include sm {
		font-size: $base-size * 1.3;
	}
}
