@import '../../../styles/settings.scss';
@import '../../../styles/mixins';

.image_wrapper img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding-top: 50px;

	// 768px window width and more
	@include md {
		width: auto;
	}
}

.button {
	border: none;
	background-color: transparent;
	color: $color-dark;
	font-size: 1.6 * $base-size;
	cursor: pointer;
	position: absolute;
	top: 2%;
	left: 87%;

	// 576px window and more
	@include sm {
		left: 93%;
	}
	// 768px window and more
	@include md {
		left: 95%;
		font-size: 2 * $base-size;
	}
}
