@import '../../../styles/settings.scss';

.text_wrapper {
	border: 2px solid $color-dark;
	border-radius: $radius;
	padding: 20px;
	margin: 20px 10px;
	text-align: center;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

	p {
		margin: 20px 0;
	}
}
